<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>ServletFilter</filter-name>
        <filter-class>Filter.ServletFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ServletFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>Controllers.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registor</servlet-name>
        <servlet-class>Controllers.Registor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassword</servlet-name>
        <servlet-class>Controllers.ForgetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Shop</servlet-name>
        <servlet-class>Controllers.Shop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detail</servlet-name>
        <servlet-class>Controllers.Detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>Controllers.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Redirecting</servlet-name>
        <servlet-class>Controllers.Redirecting</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registor</servlet-name>
        <url-pattern>/Registor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassword</servlet-name>
        <url-pattern>/ForgetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Shop</servlet-name>
        <url-pattern>/Shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detail</servlet-name>
        <url-pattern>/Detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Redirecting</servlet-name>
        <url-pattern>/Redirecting</url-pattern>
    </servlet-mapping>
</web-app>
